        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'achat.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'achat.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'achat.reference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'achat.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validAchatReference}"  />
                                                    <small class='p-error' *ngIf='!validAchatReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'achat.dateAchat' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'achat.dateAchat' | translate}}"  [(ngModel)]="item.dateAchat"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'achat.total' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'achat.total' | translate}}" [(ngModel)]="item.total"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'achat.totalPaye' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'achat.totalPaye' | translate}}" [(ngModel)]="item.totalPaye"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'achat.description' | translate}}</label>
                                                    <textarea id="5" pInputTextarea rows="5" cols="30" placeholder="{{'achat.description' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="6">{{'achat.client' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="clients" [(ngModel)]="item.client" id="6" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="nom" placeholder="{{'achat.client' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'achat.achatItems' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Produit<span style="color: red;">*</span></label>
                                                                        <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="achatItemsElement.produit"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="reference"
                                                                                     placeholder="Produit"  [ngClass]="{'ng-invalid ng-dirty' : !validAchatItemsProduit}" >
                                                                        </p-dropdown>
                                                                        <small class='p-error' *ngIf='!validAchatItemsProduit'>Produit est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="2">Prix unitaire<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixUnitaire" placeholder="Prix unitaire"  [ngClass]="{'ng-invalid ng-dirty' : !validAchatItemsPrixUnitaire}" [(ngModel)]="achatItemsElement.prixUnitaire"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validAchatItemsPrixUnitaire'>PrixUnitaire est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">Prix vente<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="prixVente" placeholder="Prix vente"  [ngClass]="{'ng-invalid ng-dirty' : !validAchatItemsPrixVente}" [(ngModel)]="achatItemsElement.prixVente"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validAchatItemsPrixVente'>PrixVente est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="4">Quantite<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantite" placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : !validAchatItemsQuantite}" [(ngModel)]="achatItemsElement.quantite"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validAchatItemsQuantite'>Quantite est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="5">Quantite avoir</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantiteAvoir" placeholder="Quantite avoir"  [(ngModel)]="achatItemsElement.quantiteAvoir"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="6">Remise</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="remise" placeholder="Remise"  [(ngModel)]="achatItemsElement.remise"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addAchatItems()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.achatItems?.length > 0 ? '(' + item.achatItems?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.achatItems" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Produit</th>
                                                                                <th>Prix unitaire</th>
                                                                                <th>Prix vente</th>
                                                                                <th>Quantite</th>
                                                                                <th>Quantite avoir</th>
                                                                                <th>Remise</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.produit?.reference}}</td>
                                                                                <td>{{p.prixUnitaire}}</td>
                                                                                <td>{{p.prixVente}}</td>
                                                                                <td>{{p.quantite}}</td>
                                                                                <td>{{p.quantiteAvoir}}</td>
                                                                                <td>{{p.remise}}</td>
                                                                    <td>
                                                                        <button (click)="deleteAchatItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editAchatItems(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
